body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.bg-show{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
}
.Todo-container{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    width: calc(100% - 40%);
    height: calc(100% - 48%);
    border-radius: 20px;
    background-color: antiquewhite;
    box-shadow: 0 0 16px,
                inset -2px -2px 8px,
                inset 2px 2px 8px rgb(170, 170, 170);
}
header{
    position: relative;
    display: flex;
    padding: 8px;
    width: 100%;
    height: 20vh;
    align-items: center;
    flex-direction: column;
}
header > h2{
    cursor: pointer;
    color: #451952;
    align-self: center;
}
.form-container :nth-child(n){
    margin-right: 20px;
    margin-bottom: 4px;
}
#Todo-input{
    color: #451952;
    background-color: rgba(255,255,255, 0.8);
    box-shadow: inset -5px -5px 12px #ffffffd0,
                inset 5px 5px 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 18px;
    outline: none;
    height: 30px;
}
.Task-btn{
    color: #451952;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 8px 24px; 
    font-weight: bold;
    border-radius: 12px;
    background-color: chartreuse;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.8),
                inset 2px 2px 5px #fff,
                0 0 16px chartreuse;
}
.Task-btn:active{
    box-shadow: inset -2px -2px 5px #fff,
                inset 2px 2px 5px rgba(0, 0, 0, 0.8),
                0 0 16px chartreuse;
}
.Task-btn:hover{
    transform: scale(1.04);
}
section{
    width: 100%;
    height: 30vh;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgba(255,255,255, 0.1);
    box-shadow: inset -5px -5px 12px #ffffffd0,
                inset 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.Notes-container{
    position: relative;
    width: inherit;
    height: inherit;
    overflow-y: scroll;
}
.Notes-container::-webkit-scrollbar{
    width: 10px;
    border-radius: 12px;
    background-color: transparent;
}
.Notes-container::-webkit-scrollbar-thumb{
    width: 10px;
    border-radius: 12px;
    background-color: chocolate;
}
.Notes-container > ol > li{
    position: relative;
    display: flex;
    width: 100%;
    left: -40px;
    gap: 20px;
    margin: 12px;
    padding: 12px;
    list-style: none;
    border-radius: 12px;
    align-items: center;
    color: #451952;
    justify-content: space-between;
    background-color: #ffffffd0;
}
.Notes-container > ol > li > b{
    line-break: anywhere;
    width: calc(100% - 32%);
}
.checkbox-btn{
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    cursor: pointer;
    appearance: none;
    border-radius: 50%;
    border: 1.5px solid;
    align-items: center;
    transform: scale(1.3);
    justify-content: center;
    box-shadow: 0 0 16px chartreuse,
                0 0 16px chartreuse;
}
.checkbox-btn:checked{
    background-color: chartreuse;
}
.checkbox-btn::before{
    content: '';
    font-size: 10px;
    font-weight: bolder;
    font-family: "font Awesome 5 Free";
}
.checkbox-btn:checked::before{
    content: '\f00c';
}
#Trash-icon{
    cursor: pointer;
}
.Clear-btn{
    user-select: none;
    position: absolute;
    top: 0;
    right: calc(100% - 96%);
    padding: 8px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    color: #451952;
    font-weight: bold;
    border-radius: 12px;
    border: 3px solid chartreuse;
    background-color: rgba(255,255,255, 0.2);
    box-shadow: inset 5px 5px 12px #ffffffd0,
                inset -5px -5px 10px rgba(0, 0, 0, 0.2),
                0 0 4px chartreuse;
}
.Clear-btn:active{
    box-shadow: inset -5px -5px 12px #ffffffd0,
                inset 5px 5px 10px rgba(0, 0, 0, 0.2);
}
@media (width<=630px) {
    .Todo-container{
        width: calc(100% - 20%);
        height: calc(100% - 40%);
    }
    .form-container :nth-child(n){
        margin-top: 12px;
    }
    .Clear-btn{
        right: calc(100% - 102%);
    }
}
